<title>BouncingLines</title>
<applet code="BouncingLines.class" HEIGHT=200 WIDTH=430>
<param name="speed" value="100">
<param name="fade" value="no">
<param name="timecontrol" value="no">
</APPLET>
<P>
Public domain code from ,,The Demo Java programing'' 
modified by Radim Kolar 1998 (hsn@cybermail.net)/NetMag CZ 
<P>
Downloaded from <a href="http://ncic.netmag.cz/">NetMag NCIC</a>,
see <a href="http://ncic.netmag.cz/apps/nase/bouncinglines.html">
http://ncic.netmag.cz/apps/nase/bouncinglines.html</a> for docs and latest
version of this applet.                                                     
<HR>
<a href="BouncingLines.java">The source.</a>
